#navbar {
    color: blue;
    display: flex;
    align-items: flex-start;
}

.vertical-center {
    margin: 0;
}

.center-form {
    margin-left: 10%;
    margin-right: 10%;
}

.buttons-form {
    margin-top: 5px;
}

.action-form-location {
    margin: auto;
    width: 90%;
}