{# 'Edit blog entry' page #}
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} - Edit blogpost{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    {% if current_user.is_authenticated %}
        <div class="row">
            <form action="{{ url_for('blog_posting', blogpost=post.id) }}" method="POST">
                <div class="form-group">
                    <textarea name="contents" class="form-control non-resize" rows="20" cols="95" required>{{ post.content }}</textarea>
                </div>
                <input type="submit" class="btn btn-success" value="Edit post">
                <button type="reset" class="btn btn-warning" onclick='window.location.href="{{url_for("index")}}";'>Cancel</button>
            </form>
        </div>
    {% endif %}
</div>
{% endblock %}