{# List of deactivated jobs #}
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} - Non-active jobs{% endblock %}</h1>
{% endblock %}

{% block content %}
<a href="{{ url_for('jobs_listing') }}">Return to active jobs</a>
<div class="container">
    {% for job in deactivated_jobs %}
        <h2 class="row" style="margin-bottom: 1ex">
            {{ job.job_title }}
        </h2>
        <div class="row" style="margin-bottom: 1ex">
            {{ job.job_description }}
        </div>
        <small>
                Posted
                {{ job.posted.strftime("%A, %d %B %Y at %H:%M") }}
                by
                {{ job.company.company_name }}
            </small>
        <div>
            {% if current_user.is_authenticated and current_user.user_role() in ['admin'] %}
            <small>
                <a class="btn btn-info btn-sm" href="{{ url_for('send_cv', job_id=job.id) }}">Edit job</a>
                <input type="submit" class="btn btn-info btn-sm" value="Delete job">
                <input type="submit" class="btn btn-danger btn-sm" value="Reactivate job">
            </small>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}