{# Page to edit user info. Available only for admin #}

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} - {{ displayed_user.username }}'s page{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    {% if current_user.is_authenticated %}
        <div class="row">
            <form action="{{ url_for('profile', username=displayed_user.username) }}" method="POST" class="action-form-location">
                <div class="form-group center-form buttons-form">
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
                        <input type="text" readonly class="form-control col-sm-9" name="staticEmail" id="staticEmail" value="{{ displayed_user.user_email }}">
                    </div>
                    <div class="form-group row">
                        <label for="firstName" class="col-sm-3 col-form-label">First name</label>
                        <input type="text" class="form-control col-sm-9" name="firstName" id="firstName" value="{{ displayed_user.users_firstname }}">
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3 col-form-label">Last name</label>
                        <input type="text" class="form-control col-sm-9" name="lastName" id="lastName" value="{{ displayed_user.users_lastname }}">
                    </div>
                    <div class="form-group row">
                        <label for="userDescription" class="col-sm-3 col-form-label">Tell about yourself</label>
                        <input type="text" class="form-control col-sm-9" name="userDescription" id="userDescription" value="{{ displayed_user.users_description }}" autocomplete="off">
                    </div>
                    {% if current_user == displayed_user %}
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">Change password</label>
                        <input type="password" class="form-control col-sm-9" name="inputPassword" id="inputPassword" placeholder="Password" autocomplete="off">
                    </div>
                    {% endif %}
                    {% if current_user.user_role() == "admin" and current_user != displayed_user %}
                    <div class="row" name="permissions" id="permissions">
                        <legend class="col-form-label col-sm-3">Permissions</legend>
                        <div class="col-sm-9">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="user_permissions" id="user_permissions1" value="commenter" {% if displayed_user.user_role() == "commenter" %}checked{% endif %}>
                                <label class="form-check-label" for="user_permissions1">
                                    User can comment and send CVs
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="user_permissions" id="user_permissions2" value="blogger" {% if displayed_user.user_role() == "blogger" %}checked{% endif %}>
                                <label class="form-check-label" for="user_permissions2">
                                    User can post news, comment and send CVs
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="user_permissions" id="user_permissions3" value="admin" {% if displayed_user.user_role() == "admin" %}checked{% endif %}>
                                <label class="form-check-label" for="user_permissions3">
                                    User has admin privilegies
                                </label>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                
                    <input type="submit" class="btn btn-success" value="Save changes">
                    <button type="reset" class="btn btn-warning" onclick='window.location.href="{{url_for("index")}}";'>Cancel</button>    
                </div>        
            </form>
        </div>
    {% endif %}
</div>
{% endblock %}