{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} - Register new user{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        {% if error=='password' %}
            <div class="alert alert-danger" role="alert">
                Passwords are different!
            </div>
        {% elif error=='already_registered_name' %}
            <div class="alert alert-danger" role="alert">
                Username already used
            </div>
        {% elif error=='already_registered_email' %}
            <div class="alert alert-danger" role="alert">
                User with this email already registered
            </div>
        {% endif %}
        <div class="row">
            <form action="." method="POST">
                <div class="form-group">
                    <label for="username">Desired username:</label>
                    <input class="form-control" id="username" name="username" placeholder="Enter your username">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <label for="first_name">First name:</label>
                    <input class="form-control" id="first_name" name="first_name" placeholder="Enter your first name">
                    <label for="last_name">Last name:</label>
                    <input class="form-control" id="last_name" name="last_name" placeholder="Enter your last name">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                    <label for="password_repeat">Repeat password:</label>
                    <input type="password" class="form-control" id="password_repeat" name="password_repeat" placeholder="Repeat password">
                </div>
                <button type="submit" class="btn btn-success">Register</button>
                <button type="reset" class="btn btn-warning">Cancel</button>
            </form>
        </div>
    </div>
{% endblock %}