{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %} - Users{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    {% for user in registered_users %}
        <div class="row" style="margin-bottom: 1ex">
            <h4>
                <span class="badge badge-success">{{ user.username }}</span> 
                <span class="badge badge-primary">{{ user.user_role() }}</span>
            </h4> 
        </div>
        {% if current_user.is_authenticatedand current_user.user_role() in ['admin'] %}
            <a class="btn btn-info btn-sm" href="{{ url_for('profile', username=user.username) }}">Edit profile for {{ user.username }}</a>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}